@if (IsVisible)
{
    <div class="modal fade show d-block" tabindex="-1" style="background-color: rgba(0,0,0,0.5);">
        <div class="modal-dialog @Size">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <MudText Typo="Typo.h6">@Title</MudText>
                    </h5>
                    <MudIconButton Icon="@Icons.Material.Filled.Close" Size="MudBlazor.Size.Small" OnClick="Close" />
                </div>
                <div class="modal-body">
                    @ChildContent
                </div>
                <div class="modal-footer">
                    @FooterContent
                </div>
            </div>
        </div>
    </div>
}